.parent{
    background-color: rgb(44, 44, 34);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
.ch{
    height: 200px;
    width: 200px;
    border: 2px solid;
}
.ch1{
    background-color: aqua;
}
.ch2{
    background-color: azure;
}
.ch3{
    background-color: rgb(77, 120, 77);
}